        {% if include.page.script %}
        <script>
{{ include.page.script }}
        </script>
        {% endif %}
        <div id="disqus_thread"></div>
        <div class="footer">
            <p>&copy; flw 2014</p>
            <a href="http://disqus.com" class="dsq-brlink">感谢 <span class="logo-disqus">Disqus</span> 提供的评论支持。</a>
        </div>
        <script type="text/javascript">
            var disqus_shortname = 'flw-tools';
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
        </script>
