<!DOCTYPE html>
<html lang="en">
<head>
{% include html-head-meta.html %}
<title>{{ page.title }} -- {{ site.name }} {{ site.ad_message }}</title>
{% include html-head-resource.html %}
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">首页</a></li>
                <li><a href="http://github.com/flw-cn">GitHub</a></li>
                <li><a href="/about.html">关于</a></li>
            </ul>
            <h3 class="text-muted">{{ site.name }}</h3>
            <p>本文发表与 {{ page.date | date_to_string }}</p>
        </div>
        <h1 class="text-muted">{{ page.title }}</h1>
        {{ content }}
{% include footer.html site=site page=page %}
    </div>
{% include tail.html %}
</body>
</html>
