<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
    </head>
    <body>
        {{ content }}
        <script language="javascript" type="text/javascript" src="http://js.users.51.la/17193169.js"></script>
        <noscript><a href="http://www.51.la/?17193169" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17193169.asp" style="border:none" /></a></noscript>
    </body>
</html>
